<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./style.css">
    <title>Grid Layout</title>
</head>
<body>
    <div class="main-container">
        <!-- Navigation Bar -->
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Timeline</a></li>
            <li><a href="#">Meet Our Team</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Gallery</a></li>
        </ul>
        <!-- Parallal Image One -->


        <!-- Story Section -->
        <section class="story-container">
            <i class="far fa-square"></i>
            <h2>Our Story</h2>
            <aside class="top">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem perspiciatis necessitatibus, cumque cupiditate asperiores similique.
                </p>
            </aside>
            <aside class="bottom">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A laboriosam quidem quo delectus laudantium commodi.
                </p>
            </aside>
            <picture class="img">
                <img src="./images/BatmanBG.jpg" alt="image">
            </picture>
        </section>
    </div>
</body>
</html>