<!DOCTYPE html>
<html>
<head>
<title>My Home Page</title>
<style>
body {
	background-color:blue;
	}
h2 {
	color:yellow;
	background-color:black;
	font-size:300%;
	text-align:center;
	}
table {
	background-color:black;
	color:yellow;
	border:2px solid yellow;
	}
p {
	background-color:olive;
	color:black;
	font-size:200%;	
	border:2px dotted black;
	padding:30px;
	}
</style>
</head>
<body>
<h2> Sample Web Page </h2>
<table>
<tr><td>Name</td><td>Age</td><td>Sex</td></tr>
<tr><td>Goutham</td><td>25</td><td>M</td></tr>
<tr><td>Kumar</td><td>26</td><td>M</td></tr>
<tr><td>Somasundaram</td><td>27</td><td>M</td></tr>
</table>
<h2> End of the Table contents</h2>
<p>
Hello my name is goutham kumar and I will become a full stack application developer
</p>
</body>
</html>