body {
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;   
}

.loginContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 450px;
    margin: 0px auto;
}

.loginContainer * {
    width: 45%;
    margin: 5px 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}